#PuyoField {
  border: 1px solid #ADFF2F;
  margin-left: 50px;
  border-radius: 3px;
  background-image: url(assets/gridBG3.png);
  background-origin: content-box;
}

#UpNext{
  background: transparent;
}
img {
max-width: 100%;
display: inline-block;
padding: 20px;
}

body {
  font-family: 'VT323', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: greenyellow;
  background-color: black;
}

button {
  font-family: 'VT323', monospace;
  font-size: 22px;
  padding: 5px;
  max-width: 80px;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 5px;
}

.gameConcerns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:75%;
}

h1 {
  font-size: 46px;
}

h4 {
  margin-top: 70px;
}

a {
  color: inherit;
}


canvas {
  background-color: white;
}

#infoPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#infoPanel div {
  border: 1px solid #ADFF2F;
  text-align: center;
  border-radius: 3px;
  background-color: transparent;
  font-size: 24px;
  color: greenyellow;
}

#infoPanel h4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 26px;
}

#title {
  display: inline-block;
}

#welcome {
  position: absolute;
  top: 85px;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;

  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 24px;
  z-index: 3;
  padding: 10px;
  text-align: center;
  color: black;
}

#GameOver {
  position: absolute;
  top: 125px;
  display: none;
  width: 30%;
  background-color: white;
  border: 1px solid #ADFF2F;
  border-radius: 3px;
  z-index: 4;
  text-align: center;
  padding: 10px;
  color:black;
  font-size: 30px;
}

#vcDiv {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}

#vcDiv:hover {
  cursor: pointer;
}
.fa::before{
  font-size: 30px;
}
